body {

    background-color: rgb(45, 45, 49); 
    background: linear-gradient(to bottom, rgb(37, 37, 37), rgba(222,112,6,0.2), #000000), url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='#333' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E");
    background-size: contain;  

}

.container-fluid{

    border: inset 2px rgb(100, 189, 240);

} 

#banner{

    background: rgb(240, 105, 64);
    text-align: center;
    border-bottom: solid 5px rgb(87, 76, 76);
    height: 150px;
    background-image: radial-gradient(rgb(231, 190, 190), yellow,#000000 );
    
}

#title {

    font-family: 'Kompakt', cursive, sans-serif, serif;
    font-size: 90px;
    font-weight: bold;
    top: 25%;
       }
h2, h3, h4 {

    font-family: 'Georgia', cursive, sans-serif, serif;
    font-size: 40px;

}

#gameRow {

    margin: 5% auto;
    padding: 0;
    width: 100%;

}

#imgcol {

   
    text-align: center;
    background-color: #000000;
    border: dotted rgb(229, 219, 228) 5px;
    
    



}

#imgTarget {

    visibility: hidden;
    max-width: 100%;
    height: auto;
    margin: 50% auto;
    padding: 2px;
    z-index: 2;
    border: inset silver 2.5px;

}

#gamecol {

    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
    background-color: #000000;
    background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)),
                  url("./lizard.png");
    border: inset red 5px;
    border-left: none;
    color: white;


}

.ltrbox {
    border-bottom: solid white 2px;
    height: 50px;
    width: 40px;
    margin: 5px;
    z-index: 1;
    text-align: center;
   
}

.blankspace {

    visibility: hidden;
    height: 20px;
    width: 18px;
    margin: 5px;
    z-index: 1;

}

.ltr {
    
    position: relative;
    bottom: 8px;
    font-size: 50px;
    z-index: 2;
    visibility: hidden;
    font-family: 'Arial Black', cursive, sans-serif, serif;
}

#currentWord ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

#currentWord li {
    display: inline-block;
  }

  @media screen and (max-width: 767px) {


    #gamecol {

        padding: 10% 5%;
        text-align: center;
        background-color: #DFDBE5;
        border: rgb(255, 0, 179) 5px;
        border-top: none;
    
    }

}